extends layout
 
block content
  h1= title
  - let items = results;
  a.btn.btn-primary(href="/Dog/create") Create Dog items
  .container-fluid
    .row
      each item in items
        - let destination = `/Dog/update?id=${item._id}`
        - let detail = `/Dog/detail?id=${item._id}`
        - let deletePath = `/Dog/delete?id=${item._id}`
        .row-sm-2.m-1 Item is #{item.Dog_Type}(#{item.Name}) (#{item.Age})(#{item.Color})
          button.btn.btn-primary.ml-1(onclick=`dispatch('${destination}')`) Update
          button.btn.btn-primary.ml-1(onclick=`dispatch('${deletePath}')`) Delete
          button.btn.btn-primary.ml-1(onclick=`dispatch('${detail}')`) Detail
         
 
  script.
    function dispatch(path){
      window.location.href = path;
    }